<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICBC.Service.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ICBC.Service.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ICBC.Service.Settings>
            <setting name="outputDirectory" serializeAs="String">
                <value>\\ftp\China\IN\test</value>
            </setting>
            <setting name="sqlConnectionString" serializeAs="String">
                <value>data source=APOLON;initial catalog=Snova_table_СССБ;integrated security=True;multipleactiveresultsets=True;App=EntityFramework</value>
            </setting>
            <setting name="sendMessageCount" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="sendDelayInHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkIntervalInSecond" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>d:\Work\Китай\China\ICBC.Service\bin\Debug\ICBC.Service.Errorlog.txt</value>
            </setting>
        </ICBC.Service.Settings>
    </applicationSettings>
    <userSettings>
        <ICBC.Service.Settings>
            <setting name="maxLogSizeInKb" serializeAs="String">
                <value>256</value>
            </setting>
        </ICBC.Service.Settings>
    </userSettings>
</configuration>